@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    5 West End Close<br />
    Chippenham, Wiltshire, SN14 0FN<br />
    <abbr title="Phone">P:</abbr>
    07448033171
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:keerthijm@gmail.com">keerthijm@gmail.com</a><br />   
</address>